<header id="header">
    <div class="center">
        <!-- Logo -->
        <div id="logo">
            <img src="assets/img/books.png" class="app-logo" alt="Logotipo">
            <span id="brand">
                <strong>Biblioteca</strong>Virtual
            </span>
        </div>
        <!-- Menu -->
        <nav id="menu">
            <ul>
                <li>
                    <!--<a [routerLink]="['/home']" [routerLinkActive]="['active']">Inicio</a>-->
                </li>                
            </ul>
        </nav>

        <!-- Limpiar el float-->
        <div class="clearfix"></div>

    </div>
</header>
